.footer{
    align-self: flex-start;
    font-family: "Inter", sans-serif;
    font-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #545454;
    margin: 0;
    box-sizing: border-box;



}

.footer__copywrite{
    align-self: flex-start;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #545454;

}


@media screen and (max-width: 800px) {
    .footer{
        padding-left: 19px;
    }
}

@media  screen and (max-width: 600px) {
    .footer{
        margin: 50px 19px 36px 19px;
        font-size: 14px;
        line-height: 17px;
        padding: 0;
    }
}